/* Movies.css */
h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  /* Style the links */
  li a {
    text-decoration: none;
    color: #333;
  }
  
  li a:hover {
    text-decoration: underline;
  }
  