/* styles.css */
nav {
    background-color: #cac6c6;
    color: white;
    padding: 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  